.navStyle{
    position:"fixed";
    width:"100vw";
    height:"100vh";
    transition:"0.5s ease-in-out";
}

.body1{
    background: rgb(232,234,235);
    background: radial-gradient(circle, rgba(232,234,235,1) 0%, rgba(161,213,255,1) 72%, rgba(255,255,255,1) 100%);
    
}
.body2{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.body3{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.headingH1{
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
}
.headingH2{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #fff;
    text-align: left;
    margin-top: 30px;
}
.heading-black-H2{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgb(20, 20, 20);
    text-align: left;
    margin-top: 30px;
}
.sidebarItems{
    border-bottom: 2px solid #fff;
    padding:12px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    transition: 0.5 ease-in-out !important;
}
.sidebarItems:hover{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    transition: 0.5 ease-in-out !important;
}
.centerized{
    text-align: center;
    margin:auto;
    padding:auto;
}
.navbarButton{
    width:50px;
    height: 50px;
    font-size: 250px;
}
.styleButton{

    background-image: linear-gradient(to right, #6292b0 0%, #2eafeb  51%, #4f748b  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    transition: 0.3s ease-in-out;    
}
.styleButton:hover{
    transition: 0.3s ease-in-out;    
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
      
}
.bodyMerge{
    background: rgb(240,243,244);
    background: linear-gradient(180deg, rgba(240,243,244,1) 25%, rgba(255,255,255,1) 39%, rgba(68,168,207,1) 91%); 
}
.indexContainer{
    width:80vw;
    padding: auto;
    margin: auto;
}
.indexContainer1{
    width:80vw;
    padding: auto;
    margin:auto;
}
.card{
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 7%, rgb(77, 77, 77) 25%, rgb(71, 71, 71) 72%, rgba(15,15,15,1) 91%);
    box-shadow: 0 0 10px 10px rgb(113, 113, 113);
    border-radius: 10px;
    color:aliceblue;
    transition: 0.5s ease-in-out !important;
}
.inputText{
    color: black !important;
}

.card:hover{
    background: rgb(82,182,217);
    background: linear-gradient(90deg, rgba(82,182,217,1) 7%, rgba(240,243,244,1) 25%, rgba(255,255,255,1) 72%, rgba(68,168,207,1) 91%);
    border-radius: 10px;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 10px 10px  rgb(68, 204, 253);
    transform: scale(1.1);
    transition: 0.5s ease-in-out !important;
}
.cardLogin{
    width:350px;
    height:350px;
    margin:auto;
    padding:auto;
    margin-bottom: 30px;
    background-color: rgb(244, 247, 248);
    box-shadow: 0 0 10px 10px rgb(219, 219, 219);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.cardSignup{
    width:350px;
    height:550px;
    margin:auto;
    padding:auto;
    margin-top:10px;
    margin-bottom: 30px;
    background-color: rgb(244, 247, 248);
    box-shadow: 0 0 10px 10px rgb(219, 219, 219);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.cardCourse{

    margin-bottom: 30px;
    background-color: rgb(244, 247, 248);
    box-shadow: 0 0 10px 10px rgb(219, 219, 219);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.cardCourse:hover{

    margin-bottom: 30px;
    color:black;
    background-color: rgb(255, 197, 70);
    box-shadow: 0 0 10px 10px rgb(219, 219, 219);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.containerMod{
    width:100%;
    height:100%;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
/* make stuff side by side
    display: flex;
    justify-content: center;
    align-items: center;
*/
.iconset{
    color:rgb(71, 71, 71);
    transition: 0.3s ease-in-out;
}
.iconset:hover{
    color:rgb(38, 168, 238);
    transition: 0.3s ease-in-out;
}
.flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
    padding: auto;
}
.flexItem1{
    width: 340px;
    height: 200px;
    margin-top: 100px;
    padding: auto;
    justify-content: left;
    align-items: left;
}
.flexItem2{
    width: 340px;
    height: 400px;
    margin: auto;
    padding: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexItem3{
    width: 340px;
    height: 400px;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexItem4{
    width: 280px;
    height: 550px;
    
    
    justify-content: right;
    align-items: right;
}
.verification{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    position: relative;
    display: block;
}
.cloud1{
    width:310px;
    height:30px;
    font-size: 20px;
    box-shadow: 0 0 10px 10px rgb(219, 219, 219);
    background-color: aliceblue;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.cloud1:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 10px rgb(248, 248, 248);
    transition: 0.3s ease-in-out;
}
.cloud2{
    min-width:280px;
    color:white;
    font-size: 13px;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    padding:5px;
    margin-top: 20px;
    margin-left: 40px;
    justify-content: center;
}
.cloud3{
    min-width:280px;
    color:rgb(0, 0, 0);
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 15px;
    padding:4px;
    margin-top: 20px;
    margin-left: 40px;
    justify-content: center;
}
.HeadingContainer{
    width:100vw;
    height:30vh;
    margin: auto;
    padding: auto;
    color:#fafafa;
    background-color: #000851;
}
.image-container {
    width: 50%;
    height:50%;
    }
.image {
    object-fit: contain;
}
  
  
@media only screen and (max-width: 600px) {
    .navStyle{
        margin-top: -30px;
    }
}
@media only screen and (min-width: 600px) {
    .navStyle{
        margin-top: -30px;
    }
    .flexbox{
        padding: auto;
        margin:auto;
        display: flex;
        margin-top:-50px;
        flex-direction: row;
        align-items: center;
    }
    .indexContainer1{
        width:85vw;
        padding: auto;
        margin-left:-30px;
    }
    .flexItem1{
        width: 540px;
        height: 500px;
        margin-top: 150px;
        padding: auto;
        justify-content: left;
        align-items: left;
    }
    .flexItem2{
        width: 540px;
        height: 500px;
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flexItem3{
        width: 540px;
        height: 500px;
        margin: auto;
        padding: -5px;
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
    .flexItem4{
        width: 500px;
        height: 600px;
        margin-top: 100px;
        padding: auto;
        
        justify-content: right;
        align-items: right;
    }
    .indexContainer1{
        width:80vw;
        padding: auto;
        margin-left:150px;
    }
    .cloud3{
        width:340px;
        color:rgb(0, 0, 0);
        font-size: 17px;
        background-color: aliceblue;
        border-radius: 15px;
        padding:4px;
        margin-top: 20px;
        margin-left: 110px;
        justify-content: center;
    }
}
    
